<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>afletes_app_v1.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>21</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
				<key>dateExpires</key>
				<string>2023-07-26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NWWebSocket.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PusherSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TweetNacl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_tracking_transparency.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pusher_channels_flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1EE9E76F111B6D68B44DB8FC09B33D8B9593D2F</string>
						<key>dateExpires</key>
						<string>2023-07-26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4QRCGG8PXA</string>
						<key>name</key>
						<string>ARROBA PARAGUAY S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4QRCGG8PXA.com.afletes.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>4QRCGG8PXA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>beafbeb0-4d9a-4139-8142-7a354a5f326a</string>
				<key>dateExpires</key>
				<string>2023-07-26</string>
				<key>name</key>
				<string>afletes</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4QRCGG8PXA</string>
				<key>name</key>
				<string>ARROBA PARAGUAY S.R.L.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.12</string>
		</dict>
	</array>
</dict>
</plist>
